__pycache__/
*.pyc
*.pyo

# Сборка PyInstaller
build/
dist/
*.spec
.iss

# Обновления / инструменты (качаются на лету)
_update/
tools/

# IDE / окружение
.venv/
venv/
.idea/
.vscode/
installer_output/

# Мусор ОС
Thumbs.db
desktop.ini
version_info.txt